/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules/*
/bower_components/*
npm-debug.log
coverage/*
.phplint-cache
/web/build/

.idea
.DS_Store
**/*.xlf~
logs/*

helm/
Dockerfile
.dockerignore
*.tgz
.github-assets/
