//------------------------------------------------------------------
// Component OffersDefault
//------------------------------------------------------------------

// Dependencies
// button-default
// button-text

.lf-offers-default {
    @media print {
        display: none;
    }

    position: relative;

    &__title {
        margin-bottom: $gutter-small;
    }

    &__toggler {
        @media (min-width: $screen-sm-min) {
            @include button-text($brand-primary);

            position: absolute;
            top: 5px;
            right: 0;
            margin: 0;
            border: none;
            background: none;
            text-transform: inherit;
        }

        display: flex;
        margin: 15px auto 0;
        text-decoration: none;
    }

    &__list {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        transition: height $transition-time $transition-animation;
        overflow: hidden;

        &__offer {
            @media (min-width: $screen-sm-min) {
                margin-left: $gutter-small;
                width: calc((100% - #{$gutter-small}) / 2);
            }

            display: flex;
            margin: 0 0 $gutter-small 0;
            border: 1px solid $brand-secondary;
            padding: $gutter-small;
            width: 100%;

            &.hidden {
                visibility: hidden;
                margin: 0;
                padding: 0;
                height: 0;
            }

            &:nth-child(2n + 1) {
                @media (min-width: $screen-sm-min) {
                    margin-left: 0;
                }
            }

            &__illustration {
                flex: 1;

                &__image {
                    @include img-responsive;
                }
            }

            &__body {
                flex: 2;

                &__title,
                &__link {
                    margin-top: $gutter-small;
                }

                &__title {
                    @media (min-width: $screen-lg-min) {
                        font-size: $font-size-base;
                    }
                }

                &__content {
                    @media (min-width: $screen-lg-min) {
                        font-size: floor($font-size-base * .9);
                    }

                    margin-top: ceil($gutter-small / 3);
                }

                & > *:first-child {
                    margin-top: 0;
                }
            }

            &__illustration + &__body {
                padding-left: $gutter-small;
            }
        }
    }
}
