@mixin title($size: '', $weight: $headings-font-weight, $font: $headings-font-family) {
    @media print {
        color: $black;
    }

    @if $size == 'h1' {
        font-size: $font-size-h1;
    }

    @if $size == 'h2' {
        font-size: $font-size-h2;
    }

    @if $size == 'h3' {
        font-size: $font-size-h3;
    }

    @if $size == 'h4' {
        font-size: $font-size-h4;
    }

    @if $size == 'h5' {
        font-size: $font-size-h5;
    }

    @if $size == 'h6' {
        font-size: $font-size-h6;
    }

    margin: 0;
    color: $headings-color;
    font-family: $font;
    font-weight: $weight;
}
